<div class="example-button-container">
  <button mat-mini-fab (click)="OnIncrement()" color="accent" aria-label="Example icon button with a plus one icon">
    <mat-icon>arrow_upwards</mat-icon>
  </button>
</div>
<div class="example-button-container">
  <button mat-mini-fab (click)="OnDecrement()" color="accent" aria-label="Example icon button with a plus one icon">
    <mat-icon>arrow_downward</mat-icon>
  </button>
</div>
<div class="example-button-container">
  <button mat-mini-fab (click)="OnReset()" color="accent" aria-label="Example icon button with a plus one icon">
    <mat-icon>refresh</mat-icon>
  </button>
</div>